extends layout.pug

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/posts-add.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  form.new-post-form(action='/posts/new' method='post')
    +validationErrorSummary(errors)
    h1 Submit New Post
    if locals.authenticated
      input(type='hidden' name='_csrf' value=csrfToken)
      label post type:
      select(name="type")
        option(value="news") a regular old post
        option(value="show") show announcement
        option(value="question") ask a question
        option(value="job") post a job

      +field('post title: ', 'title', title)
      +field('optional url: ', 'url', url)
      //- +field('optional text: ', 'text', text, "textarea")
      button(type='submit' class='btn btn-primary') submit post
      a(href='/' class='btn btn-warning ml-2') cancel
      p ** note: if url is included title will link to it directly
    else
      div.post-login-message 
        p You have to log in to submit a new post!
        p You are not currently logged in.
      p 
        a.new-post-login(href="/users/register") register
        span.new-post-login-span or
        a.new-post-login(href="/users/login") login