/* .posts-ol {
  padding-left: 25px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: black;
}

.post-triangle {
  margin-left: -2px;
  margin-right: 3px;
  font-size: 8pt;
  transform: translateY(-1px);
  display: inline-block;
  color: black;
  cursor: pointer;
}

.post-triangle::selection {
  background-color: none;
}

.post-li {
  margin-bottom: 7.5px;
}

.post-title {
  margin-left: 1px;
  color: #000;
}

.post-url {
  font-size: 8pt;
  margin-left: 3px;
}

.post-url:hover {
  text-decoration: underline;
}

.post-subtext-div {
  margin-top: -3px;
  margin-left: 9px;
}

.post-subtext {
  font-size: 7pt;
}

.post-asterisk {
  margin-left: -3px;
  margin-right: 2px;
  font-size: 10pt;
  transform: translateY(-1px);
  display: inline-block;
  animation: color-text-shift;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.rainbow {
  animation: color-text-shift;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.rainbow-background {
  animation: color-background-shift;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes color-background-shift {
  0%   {background-color: rgb(255, 161, 175);}
  20%   {background-color: rgb(214, 125, 255);}
  40%  {background-color: rgb(104, 193, 235);}
  60%  {background-color: rgb(116, 201, 67);}
  80%  {background-color: rgb(255, 168, 55);}
  100%   {background-color: rgb(255, 161, 175);}
}

@keyframes color-text-shift {
  0%   {color: rgb(255, 161, 175);}
  20%   {color: rgb(214, 125, 255);}
  40%  {color: rgb(104, 193, 235);}
  60%  {color: rgb(116, 201, 67);}
  80%  {color: rgb(255, 168, 55);}
  100%   {color: rgb(255, 161, 175);}
} */