body {
  /* border: 1px solid black; */
    background-color: #e5e5f7;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #000000 0, #000000 1px, #ffffff 0, #ffffff 50%);
    margin-bottom: 50px;
}

.center {
    width: 85%;
    min-width: 400px;
    display: block;
    margin: 0 auto;
    /* background-color: #f8f8f8; */
    min-height: 97vh;
    margin-top: 15px;
}

.content {
    padding: 20px 25px;
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

header {
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 3px 3px 3px 3px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    /* height: 26px; */
}

header > h1 {
    font-family: sans-serif;
    font-size: 10pt;
    display: inline-block;
    line-height: 20px;
    margin-left: 7px;
    font-weight: 800;
    height: 20px;
}

.header-h1 {
    font-family: sans-serif;
    font-size: 10pt;
    display: inline-block;
    line-height: 20px;
    margin-left: 7px;
    font-weight: 800;
    height: 20px;
}

header > h1 > a {
    font-family: sans-serif;
    font-size: 10pt;
    display: inline-block;
    line-height: 20px;
    font-weight: 800;
    height: 20px;
}

.logo {
    font-size: 13px;
    font-family: sans-serif;
    border: 1px solid #fff;
    display: inline-block;
    line-height: 22px;
    height: 20px;
    width: 20px;
    color: #fff;
    font-weight: 100;
    text-align: center;
}

.logo > a {
    font-size: 13px;
    font-family: sans-serif;
    display: inline-block;
    line-height: 22px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    transform: translateY(-1px);
}

.links {
    display: inline-block;
    /* border: 1px solid white; */
    margin-left: 10px;
}

.links a {
    font-size: 12px;
    text-decoration: none;
}

.header-logout-form {
    display: inline-block;
}

.header-logout-form > button {
    display: inline-block;
    background-color: #00000000;
    border: none;
    font-size: 12px;
    padding: 0 0 0 6px;
    font-family: sans-serif;
}

.post-list-sub-link {
    font-size: 10px;
    margin-left: 3px;
}

.header-logout-form > button {
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
}

.footer-div {
    border-top: 1px solid black;
    padding-top: 15px;
    padding-bottom: 35px;
    background-color: white;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    /* color: white; */
}

.footer-text {
    text-align: center;
    font-size: 9pt;
    font-family: Verdana, Geneva, sans-serif;
}

.footer-links {
    text-align: center;
    font-size: 8pt;
    font-family: Verdana, Geneva, sans-serif;
}

.footer-search-form {
    text-align: center;
    font-size: 10pt;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 15px;
}

.footer-search-form > label {
    text-align: center;
    font-size: 10pt;
    font-family: Verdana, Geneva, sans-serif;
    color: #000000;
}

.footer-search-form > input {
    border: 1px solid black;
    width: 15%;
    min-width: 150px;
}

.line-div {
    /* border-top: 1px solid white;
    z-index: -1;
    transform: translateY(12.5px); */
}

.inner-header {
    /* background-color: red; */
    font-size: inherit;
    background-color: black;
    z-index: 2;
    display: inline-block;
}

.no-posts-p {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}

.banner-div {
    height: 3px;
    margin: 0 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.new-comment-textarea {
    max-width: 90%;
}

/* -------------------------------------------------------- */


.posts-ol {
  padding-left: 25px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: black;
}

.post-triangle {
  margin-left: -2px;
  margin-right: 3px;
  font-size: 8pt;
  transform: translateY(-1px);
  display: inline-block;
  color: black;
  cursor: pointer;
}

.post-triangle::selection {
  background-color: none;
}

.post-li {
  margin-bottom: 7.5px;
}

.post-title {
  margin-left: 1px;
  color: #000;
}

.post-url {
  font-size: 8pt;
  margin-left: 3px;
}

.post-url:hover {
  text-decoration: underline;
}

.post-subtext-div {
  margin-top: -3px;
  margin-left: 9px;
}

.post-subtext {
  font-size: 7pt;
}

.post-asterisk {
  margin-left: -3px;
  margin-right: 2px;
  font-size: 10pt;
  transform: translateY(-1px);
  display: inline-block;
  animation: color-text-shift;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.rainbow {
  animation: color-text-shift;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.rainbow-background {
  animation: color-background-shift;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes color-background-shift {
  0%   {background-color: rgb(255, 161, 175);}
  20%   {background-color: rgb(214, 125, 255);}
  40%  {background-color: rgb(104, 193, 235);}
  60%  {background-color: rgb(116, 201, 67);}
  80%  {background-color: rgb(255, 168, 55);}
  100%   {background-color: rgb(255, 161, 175);}
}

@keyframes color-text-shift {
  0%   {color: rgb(255, 161, 175);}
  20%   {color: rgb(214, 125, 255);}
  40%  {color: rgb(104, 193, 235);}
  60%  {color: rgb(116, 201, 67);}
  80%  {color: rgb(255, 168, 55);}
  100%   {color: rgb(255, 161, 175);}
}


/* -------------------------------------------------------- */

@media only screen and (max-width: 750px) {
  .center {
    width: 100%;
    max-width: 100%;
    min-width: none;
  }
  body {
      max-width: 100%;
      padding: 0 0 50px 0;
      margin: 0 0 0 0;
      /* border-bottom: 0px solid black; */
  }
  header {
    padding-bottom: 6px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .center {
      /* border-bottom: 1px solid black; */
      border-left: none;
      border-right: none;
  }
  .inner-header {
      /* background-color: red; */
    font-size: inherit;
    background-color: black;
    z-index: 2;
    width: 125px;
    display: block;
    margin: auto;
    transform: translateY(-12px);
    margin-bottom: -10px;
  }
  .line-div {
    border-top: 1px solid white;
    z-index: -1;
    transform: translateY(12.5px);
  }
}