.post-show {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
  margin-top: 5px;
}

.posts-ol {
  padding-left: 25px;
  font-family: Verdana, Geneva, sans-serif;
}

.post-triangle {
  margin-left: 0px;
  margin-right: 8px;
  font-size: 8pt;
  transform: translateY(-1px);
  display: inline-block;
  color: #959595;
  cursor: pointer;
}

.post-asterisk {
  margin-left: 0px;
  margin-right: 8px;
  font-size: 10pt;
  transform: translateY(-1px);
  display: inline-block;
  color: #ff6600;
}

.post-triangle::selection {
  background-color: none;
}

.post-li {
  margin-bottom: 5px;
}

.post-title {
  margin-left: 1px;
  color: #000;
}

.post-url {
  font-size: 8pt;
  margin-left: 3px;
}

.post-url:hover {
  text-decoration: underline;
}

.post-subtext-div {
  margin-top: 0px;
  margin-left: 20px;
}

.post-subtext {
  font-size: 7pt;
}

.title-link:visited > .post-title {
    color: #828282;
}

.new-comment-textarea {
  margin-left: 20px;
  margin-top: 18px;
  height: 85px;
  width: 485px;
}

.new-comment-submit {
  display: block;
  margin-left: 20px;
  margin-top: 18px;
  font-family: monospace;
  font-size: 10pt;
}

.level-one-comment-p, .level-two-comment-p, .level-three-comment-p {
  padding-left: 15px;
  margin-bottom: 7.5px;
  margin-top: 0px;
}

.level-one-comment-div {
  font-family: Verdana, Geneva, sans-serif;
  padding-left: 3px;
  font-size: 9pt;
}

.level-two-comment-div, .level-three-div {
  font-family: Verdana, Geneva, sans-serif;
  padding-left: 30px;
  font-size: 9pt;
  display: block;
}

.comment-reply-link {
  font-family: Verdana, Geneva, sans-serif;
  color: #828282;
  margin-left: 15px;
  margin-top: 0;
  text-decoration: underline;
  font-size: 8pt;
}

.post-comment-title {
  font-size: 8pt;
  color: #828282;
  margin-top: 15px;
  margin-bottom: 7.5px;
  display: inline-block;
}

.new-comment-form {
  margin-bottom: 50px;
}

.post-delete-link {
  display: inline-block;
  margin-left: 5px;
  font-size: 8pt;
  color: #828282;
}