.new-post-form {
  background-color: white;
  width: 420px;
  /* height: 150px; */
  padding: 20px 30px;
  font-family: sans-serif;
  font-size: 13px;
  margin: 20px;
}

.form-group {
  margin: 7.5px 0;
  font-size: 13px;
}

.new-post-form > a {
  font-size: 10px;
}

.new-post-form > button {
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-post-form > h1 {
  border-bottom: 1px solid #ccc;
  padding: 15px 0px 10px;
  margin-bottom: 20px;
}

.footer-p {
  border-top: 1px solid #ccc;
  padding-top: 17.5px;
  margin-top: 17.5px;
  font-size: 10px;
}

textarea, input, select {
  width: 250px
}

.new-post-form label {
  display: inline-block;
  min-width: 95px;
}

.post-login-message {
  height: 75px
}

.new-post-login {
  font-size: 10pt;
}

.new-post-login:hover {
  text-decoration: underline;
}

.new-post-login-span {
  font-size: 10pt;
  margin-left: 3px;
  margin-right: 3px;
}

.posts-ol {
  padding-left: 25px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

.post-triangle {
  margin-left: -3px;
  font-size: 8pt;
  transform: translateY(-1px);
  display: inline-block;
  color: #959595;
  cursor: pointer;
}

.post-triangle::selection {
  background-color: none;
}

.post-li {
  margin-bottom: 5px;
}

.post-title {
  margin-left: 1px;
  color: #000;
}

.post-url {
  font-size: 8pt;
  margin-left: 3px;
}

.post-url:hover {
  text-decoration: underline;
}

.post-subtext-div {
  margin-top: -3px;
  margin-left: 9px;
}

.post-subtext {
  font-size: 7pt;
}