.posts-ol {
  padding-left: 25px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

.post-triangle {
  margin-left: -3px;
  font-size: 8pt;
  transform: translateY(-1px);
  display: inline-block;
  color: #959595;
  cursor: pointer;
}

.post-triangle::selection {
  background-color: none;
}

.post-li {
  margin-bottom: 5px;
}

.post-title {
  margin-left: 1px;
  color: #000;
}

.post-url {
  font-size: 8pt;
  margin-left: 3px;
}

.post-url:hover {
  text-decoration: underline;
}

.post-subtext-div {
  margin-top: -3px;
  margin-left: 9px;
}

.post-subtext {
  font-size: 7pt;
}